<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224665579919-3ovb98e2pdkdc9npt6vj17chegs105sj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224665579919-3ovb98e2pdkdc9npt6vj17chegs105sj</string>
	<key>API_KEY</key>
	<string>AIzaSyDSPObMscAiSsLP1TqwDF65a2mBOlwpzDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>224665579919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.northeastern.peiwen.PigeonChat</string>
	<key>PROJECT_ID</key>
	<string>pigeonchat-5f45b</string>
	<key>STORAGE_BUCKET</key>
	<string>pigeonchat-5f45b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224665579919:ios:37c0ecf283ef2ca7e25bfa</string>
</dict>
</plist>